*{
    margin: 0;
    padding: 0;
}


.container{
    /* background-color: rgb(60, 87, 87); */
    color: whitesmoke;

    width: 134px;
    height: 2144px;

    /* background-image: url(./img/img1.png); */
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* background-size: cover; */
    /* background-size: contain; */

    border: 2px solid red;

    /* background-position: top center; */
    /* background-position: bottom center; */

    /* background-attachment: fixed; */

    background: red  url(./img/img1.png) no-repeat fixed;
}


/* body{
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: space;
    background-repeat: round;
} */