* {
  margin: 0;
  padding: 0;
}

/* Q1 */
.navbar {
  height: 70px;
  background-color: black;
  color: white;
}

.right {
  background-color: green;
  display: inline-block;
  width: 50%;
  height: 75vh;
  /* display: none; */
}

.left {
  background-color: red;
  display: inline-block;
  width: 50%;
  height: 75vh;
  /* display: none; */
  visibility: hidden;
}

/* Q2 */
footer{
    font-family: 'Baloo Bhai 2', cursive;
    background-color: black;
    color: white;
    padding: 34px;
    text-align: center;
    text-transform: uppercase;
}

/* Q3 */

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 30px;
}