*{
    margin: 0;
    padding: 0;
}

.box1{
    height: 234px;
    /* width: 345px; */
    background-color: blueviolet;
    border: 2px solid black;
    /* order: 4; */
    /* align-self: flex-end; */

    flex-grow: 3;
}

.box2{
    height: 234px;
    /* width: 345px; */
    background-color: red;
    border: 2px solid black;
    flex-grow: 3;
}

.container{
    background-color: aquamarine;
    height: 50vh;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-between; */

    align-content: center;
}