*{
    margin: 0;
    padding: 0;
}

.progress{
    background-color: red;
    height: 2px;
    animation: load 1s ease-in-out 1;
}

header{
    height: 110px;
    background-color: black;
}

main{
    height: 899px;
    background-color: blue;
}

/* main img{
    width: 200px;
    margin: 50px;
    animation: rotate 1s ease-in infinite;
} */

.slider img{
    display: block;
    margin: auto;
}

.slider{
    /* background-color: aqua; */
    height: 80vh;
    /* width: 100vw; */
    overflow: hidden;
    margin: auto;
    display: flex;
}

.img1{
    transform: translate(-8vw);
}
.img2{
    transform: translate(0vw);
    animation: slide1 1s forwards;
}
.img3{
    transform: translate(8vw);
}

@keyframes load {
    0%{
        width: 0;
    }
    50%{
        width: 30vw;
    }
    100%{
        width: 100vw;
    }
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes slide1 {
    0%{
        transform: translate(8vw);
    }
    100%{
        transform: translate(85vw);
    }
}

@keyframes slide2 {
    0%{
        transform: translate(0vw);
    }
    100%{
        transform: translate(92vw);
    }
}